<div class="manager">
<table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Tên sản phẩm</th>
      <th scope="col">Giá</th>
      <th scope="col">Mô tả</th>
      <th scope="col">Ảnh</th>
      <th scope="col">Chức năng</th>
    </tr>
  </thead>
  <tbody *ngFor='let product of products; index as i'>
    <tr>
      <td>{{i + 1}}</td>
      <td style="width: 250px;">{{product.name}}</td>
      <td>${{product.price}}</td>
      <td>{{product.desc}}</td>
      <td style="width: 150px;"><img src="{{product.img}}" style="max-width: 50%; !important"></td>&nbsp;
      <td style="width: 100px;">
        <button class="btn btn-primary" style="width: 100px;">Update</button>
        <button class="btn btn-danger" (click)="removeItem(product.id)" style="width: 100px;">Delete</button>
      </td>
    </tr>
  </tbody>
</table>
</div>